.container {
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.card-text {
    font-size: 1rem;
    color: #007bff;
}

.card {
    height: 100%;
    margin-bottom: 20px;
}

.card:hover .card-img-top > img {
    transform: scale(1.2);
}

.pagination {
    justify-content: center;
}

.page-item {
    cursor: pointer;
}

.page-item.disabled .page-link {
    color: #ccc;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
}

.form-control {
    border: 1px solid #007bff;
}

.mb-3 {
    margin-bottom: 1rem;
}

.card-img-top {
    width: 100%;
    aspect-ratio: 4 /3;
    overflow: hidden;
}

.card-img-top > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.35s;
}

.col-md-3 {
    padding-right: 15px;
}

.col-md-9 {
    padding-left: 15px;
}

.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.product-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.product-list li {
    margin: 10px 0;
}
