.nav-link {
    color: white !important; 
}

.btn-toggle-nav .nav-link.active {
    background-color: #505153; 
    color: white !important;
}

.btn-toggle-nav .nav-link span {
    color: white;   
}
