<h1 class="mb-4 text-center">Các công việc cần phải làm</h1>
<app-todo-input></app-todo-input>
<table class="table table-hover mt-2">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên công việc</th>
            <th scope="col">Hoàn thành?</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @for (todo of toDos; track todo.id) {
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
                <td>
                    <input type="checkbox" [checked]="todo.completed" (change)="toggleCompleted(todo.id)" />
                </td>
                <td>
                    <div class="d-flex gap-2">
                        <button class="btn btn-primary" (click)="getTodo(todo.id)">Sửa</button>
                        <button class="btn btn-danger" (click)="deleteTodo(todo.id)">Xóa</button>
                    </div>
                </td>
            </tr>
            }
    </tbody>
</table>